@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.loader-class{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
*{
    font-family: 'Dongle', sans-serif;
}
body{
    margin: 0;
    background-color: #CCC5B9;
}
.search-box{
    background-color: #EB5E28;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.7em;
    display: inline-block;
}
.logo{
    float: right;
}
.logo img{
    height: 45px;
    margin-right: 3em;
}
@media only screen and (max-width:400px){
    .logo img{
        margin-right: 1em;
    }
}
.search-box input[type="text"]{
    margin-left: 2%;
    padding: 5px;
    background-color: #403D39;
    color:#FFFCF2;
    border: 1px solid;
    font-size: 20px;
}
input[type="text"]::placeholder{
    color: #FFFCF2;
}
input[type="text"]:focus{
    outline: none;
}
button{
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid #403D39;
    margin-left: 5px;
    background-color: #FFFCF2;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.last-updated{
    margin-top: 65px;
    margin-left: 3%;
    color: #252422;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
    font-size: 1.7em;
}
.table-output{
    margin-left: 3%;
    font-size: 26px;
}
.table-output table{
    border-collapse: collapse;
    width: 30%;
} 
.table-output td,th{
    border: 1px solid black;
}
.table-output th{
    text-align: left; 
    padding-left: 5px;
    padding-right: 5px;  
    text-transform: uppercase;
    background-color: #C1666B;
}
.table-output td{
    text-align: left;
    padding-left: 5px;
}
.quantity-th{
    width: 25%;
}
.broker-th{
    width: 25%;
}
.stock-th{
    width: 25%;
}
.table-output tr:nth-child(even){
    background-color: #FFFCF2 !important;
}
@media only screen and  (max-width:900px){
    .table-output table{
        width: 100%;
    }
    .table-output{
        margin-right: 3%;
    }
}